
.nav-link{
    transition: all 0.1s;
    font-weight: bold;
    

}
.nav-link:hover{
    border-bottom: 2px solid black;
}
.nav-link {
    color: rgb(26, 9, 9);
    margin-right: 130px;
    text-decoration: none; 
    font-size: 16px; 
    color: white;
  }
.navbar-nav li a {
    color: rgb(0, 0, 0);
    margin-right: 20px;
    text-decoration: none; 
    font-size: 16px; 
    color: white;
  }
/* .collapse{
  background-color: transparent;
}
.collapse.active{
  background: linear-gradient(90deg,rgb(66,2,194)0%,rgb(0,78,194)100%);
} */

.hidenav.active{
  background: linear-gradient(90deg,rgb(66,2,194)0%,rgb(0,78,194)100%);
  
}
 

  
  
 
 
